name: Sync Wiki
on:
  push:
    branches:
      - main
jobs:
  sync:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - uses: Andrew-Chen-Wang/github-wiki-action@v1.1
        with:
          path: wiki
